.wish-card {
  width: 300px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .picture {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }
  .checkbox-button {
    display: flex;
  }
  .action-button {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    span {
      font-size: 14px;
    }
  }

  a.action-button {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 2px;
  }
  .action-button:active {
    background-color: #f5f5f5;
  }
  .action-button:hover {
    background-color: #f5f5f5;
  }

  .content {
    display: flex;
    width: 200px;
    p {
      margin: 5px;
    }
  }
}

.wish-card-disabled {
  opacity: 0.3;
}

.editable-content {
  height: 16px;
  border: 1px solid #e8e8e8;
  width: 200px;
}
