.new-wish-form-container {
  display: block;
  margin: auto;
  width: 250px;
  justify-content: center;
  .sendButton {
    display: inline-block;
    margin-bottom: 10px;
    --background: white;
    width: 40px;
    height: 39px;
    margin-top: -1px;
    span {
      position: absolute;
      left: 50%;
      text-align: center;
      width: 30px;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .input-form {
    display: inline-block;
    padding: 10px;
    border: none;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
    --background: white;
  }
}
