.new-wish-form-container {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 320px;
  justify-content: center;
  position: relative;
  padding: 10px;
  height: 60px;
  margin-left: "14px";

  ion-input {
    border-bottom: 3px solid black;
    height: 40px;
  }

  .sendButton {
    display: flex;
    padding-right: 10px;
  }

  .input-form {
    width: 200px;
    outline: none;
    display: flex;
    text-align: left;
  }
}
