.new-wish-form-container {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 320px;
  justify-content: center;
  position: relative;

  ion-input {
    border-bottom: 3px solid black;
  }

  .sendButton {
    display: inline-block;
    float: right;
    padding-right: 10px;
  }

  .input-form {
    width: 200px;
    outline: none;
    position: absolute;
    left: 6px;
    top: 6px;
    text-align: left;
  }
}
