.App {
  text-align: center;
  padding: 15px;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Roboto", serif;
}

.github {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
